    .contact-container {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .contact-left {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 20px;
      background-color: whitergba(255, 255, 255, 0.21);
      backdrop-filter: blur(20px);
      padding: 40px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .contact-left-title h1 {
      font-weight: 600;
      color: #A363AA;
      font-size: 40px;
      margin-bottom: 5px;
    }
    .contact-left-title hr {
      border: none;
      width: 120px;
      height: 5px;
      background-color: #A363AA;
      border-radius: 10px;
      margin-bottom: 20px;
    }
    .contact-inputs {
      width: 100%;
      height: 50px;
      border: 2px solid transparent;
      outline: none;
      padding-left: 25px;
      font-weight: 500;
      color: #666;
      border-radius: 50px;
      transition: border 0.3s ease;
    }
    .contact-left textarea {
      width: 100%;
      height: 140px;
      padding: 15px;
      border-radius: 15px;
      border: 2px solid transparent;
      transition: border 0.3s ease;
    }
    .contact-inputs:focus, .contact-left textarea:focus {
      border: 2px solid #FF994F;
    }
    .contact-inputs::placeholder, .contact-left textarea::placeholder {
      color: #A9A9A9;
    }
    .contact-left button {
      display: flex;
      align-items: center;
      padding: 15px 30px;
      font-size: 16px;
      color: #FFF;
      gap: 10px;
      border: none;
      border-radius: 50px;
      background: linear-gradient(270deg, #FF994F, #FA6D86);
      cursor: pointer;
      transition: background 0.3s ease;
    }
    .contact-left button:hover {
      background: linear-gradient(270deg, #FA6D86, #FF994F);
    }
    .contact-left button img {
      height: 15px;
    }